body{
    background-color: rgb(29, 26, 26);
    color: #fff;
}

.center{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
font-size: 22px;
}
#clock{
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(211, 89, 45);
}
